<h1>Visit <%= @event[:title] %> <i class="fas fa-globe-americas"></i> </h1>

<form action="/events/<%= @event[:id] %>/rsvps/create" method="POST">
  <div class="form-group">
    <label>Will you visit <%= @event[:title] %>?</label>
    <select class="form-control" name="going">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>
  <div class="form-group">
    <label>Any comments?</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
